page-favorites {

}
ion-item h2{
  line-height: 200%;
}
ion-item h4{
  line-height: 200%;
  margin-bottom: 40px;
}
ion-item p{
  line-height: 200%;
}
.ion-content{

  background: #ffdcb9;
}


/*.custom-item{
  background: color($colors, primary);
  color: #fff;

}
.custom-item h2{
  color: #fff;
  font-weight: bold;
}
.custom-item p{
  color: color($colors, light);
}
.custom-item button ion-icon{
  font-weight: bold;
}*/
